p{
  color: blue;
  font-size: 35px;
}
.koko{
  color: blue;
  border-width: 50px;
  font-size: 40px;
  padding:20px;
  border: 10px solid orange:
  margin: 40px:
}
h1{
color: blue;
text-align: center;

}
button{
  color: purple;
  height: 50px;
}
span{
  color: white;
  text-align: center;
}
img{
  float: inherit;
}
